<!DOCTYPE html>
<html lang="en">
<head>
   {% include 'bootstrap.html' %}
    <title>Homepage</title>
</head>
<body>
    {% include 'banner.html' %}
    {% include 'nav.html' %}
    <div class="container">
        <h1 class="text-center">Hex Diagonal Careers</h1>
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-6"> <!--display on medium or bigger devices-->
                <p class="lead">Hex Diagonal is an Canadian technology company that is
                     developing implantable brain–computer interfaces (BCIs), based in Calgary, Alberta
                      as of 2023. Founded by Chi Udeh and a team of seven scientists and engineers, 
                      Hex Diagonal was launched in 2016 and was first publicly reported in March 2017.
                <p class="lead">
                    Since its founding, the company has hired several high-profile neuroscientists from 
                    various universities. At that time, Hex Diagonal announced that it was working on a 
                    "sewing machine-like" device capable of implanting very thin (4 to 6 μm in width[10]) 
                    threads into the brain.
                </p>
           
                </p>
            </div>
            <div class="d-none d-md-block col-md-6"> <!--Won't show on mobile-->
                <img src="/static/brain.jpg" style="height: 320px;" alt="">
            </div>
        </div>
     

        <h2 class="text-center">Job Openings</h2>
        <div>
            {% for job in jobs%}
                {% include 'jobItem.html' %}
            {% endfor %}
        </div>
        <div style="text-align: center;">
            <a href="mailto:support@hex.ca?subject=Contact Us" class="btn btn-primary btn-lg">Contact Us</a>
        </div>
        
    </div>
    {% include 'footer.html' %}


</body>
</html>