<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top"data-bs-theme="dark">
    <div class="container-fuild">
      <a class="navbar-brand" href="/">
        <img src="/static/hexDiagonal_logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Hex Diagonal 
      </a>
      <a class="navbar-brand" href="/about"> 
        About Us
      </a>
      <a class="navbar-brand" href="/community"> 
        Community Chat
      </a>
    </div>
  </nav>
  <div style="height: 56px;"></div>